<!DOCTYPE HTML>
<html>
  <head>
    <title>Sample Job Site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1><center>Sample Career Site by Mahin</center></h1>
    Welcome to our site..
    <hr>
    <h2><center>About our site</center></h2>
    <p>Kichu bolar nai. shikhtesi tai banaitesi. lolKichu bolar nai. shikhtesi tai banaitesi. lolKichu bolar nai. shikhtesi tai banaitesi. lolKichu bolar nai. shikhtesi tai banaitesi. lolKichu bolar nai. shikhtesi tai banaitesi. lolKichu bolar nai. shikhtesi tai banaitesi. lolKichu bolar nai. shikhtesi tai banaitesi. lolKichu bolar nai. shikhtesi tai banaitesi. lolKichu bolar nai. shikhtesi tai banaitesi. lolKichu bolar nai. shikhtesi tai banaitesi. lolKichu bolar nai. shikhtesi tai banaitesi. lolKichu bolar nai. shikhtesi tai banaitesi. lolKichu bolar nai. shikhtesi tai banaitesi. lolKichu bolar nai. shikhtesi tai banaitesi. lolKichu bolar nai. shikhtesi tai banaitesi. lol</p>
    <h2><center>Open Positions</center></h2>
    <div>
      {% for job in jobs %}
        <div>{{job['title']}}</div>
      {% endfor %}
    </div>
    <button>Contact US</button>
    
  </body>
</html>